[submodule "file-transfer-app"]
	path = file-transfer-app
	url = https://github.com/zowe/file-transfer-app

[submodule "zlux-file-explorer"]
	path = zlux-file-explorer
	url = https://github.com/zowe/zlux-file-explorer

[submodule "zowe-common-c"]
	path = zowe-common-c
	url = https://github.com/zowe/zowe-common-c
